li{
    list-style-type: none;
}
#inner_main{
    margin: auto;
    max-width: 1300px;
    /*background-color: #3c3c3c;*/
    padding-bottom: 150px;
}
#top_main{
    /*border: 1px solid red;*/
    margin: 40px auto;
    max-width: 700px;
}
#top_main h2{
    font-family: "Franklin Gothic Heavy";
    font-size: 75px;
    text-align: center;
}
#top_main p{
    font-family: "Franklin Gothic Heavy";
    font-size: 20px;
}
.container div{
    /*border: 1px solid red;*/
    color: #ff9600;
    text-align: center;
}

.price__blocks{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.price_blk{
    background-color: #ff9600;
    width: 250px;
    border: 1px solid red;
}
.price__header{
    background-color: #d18246;
    /*opacity: 0.5;*/
    padding: 20px 0;
}
.price__header span{
    font-family: "Franklin Gothic Heavy";
    color: #000000;
    font-size: 40px;
    font-weight: bold;
}
.price__text{
    font-family: "Franklin Gothic Heavy";
    color: #000000;
    text-align: center;
    padding: 40px 10px;
}
.price__menu__block {
    margin-top: 200px;
}
#compare{
    text-align: center;
    font-family: "Franklin Gothic Heavy";
    font-size: 50px;
    padding-bottom: 50px;
}
.odd div{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background-color: #ff9600;

    color: #212121;
}
.price__menu{
    font-family: "Franklin Gothic Heavy";
    text-align: center;
    vertical-align: middle;
    background-color: #3c3c3c;
}
.col-1{
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding: 10px 10px;
    background-color: #3c3c3c;
}
.col{
    font-size: 30px;
    background-color: #3c3c3c;
    padding: 10px 10px;
}
.black{
    color: #212121;
}
.black span{
    color: black;
}
